@tailwind base;
@tailwind components;
@tailwind utilities;

.progressBar {
  -webkit-appearance: none;
}
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #E9873C;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
