@tailwind base;
@tailwind components;
@tailwind utilities;

.progressBar {
  -webkit-appearance: none;
}
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #e9873c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

nav ul {
  background-color: #e9873c;
}

.volume-slider {
  -webkit-appearance: none;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  height: 8px;
  background: #2f2f2f; /* gray-500 */
  border-radius: 9999px;
  outline: none;
}

/* Chrome / Safari */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
  cursor: pointer;
}

.volume-slider::-webkit-slider-runnable-track {
  height: 8px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
}

.volume-slider::-moz-range-progress {
  height: 8px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
}

/* Firefox */
.volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
  cursor: pointer;
}
